@page "{id}"
@model Reader.Pages.SingleItemModel
@{
}

<h1>@Model.Item.Title</h1>
<p>@Model.Item.Published</p>
<p>@Model.Item.Author</p>
<a href="@Model.Item.Uri" rel=”noreferrer” target="_blank">Original item</a>

@Html.Raw(Model.Item.FullContent)
