@page "{handler?}"
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Antiforgery;
@model Reader.Pages.UnreadModel
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = Model.PageTitle;
}
<article>
    @if (!Model.Items.Any())
    {
        <h1>You have no unread items</h1>
    }
    else
    {
        <h1>Unread</h1>
        @foreach (var itemsForDay in Model.Items)
        {
            <div id="items_@itemsForDay.Key">
                <h2 class="items-date">@itemsForDay.Key</h2>
                <ul class="item-list">
                    @foreach (var item in itemsForDay)
                    {
                        <li id="item_@(itemsForDay.Key)_@(item.Id)" class="item">
                            <div class="item-header">
                                <a class="item-title" href="@item.Uri" rel="noreferrer" target="_blank">@item.Title</a>
                                <span class="item-meta">
                                    @item.FeedTitle
                                    @if (item.SourceHost != null)
                                    {
                                        @item.SourceHost
                                    }
                                    <time>@item.Age</time>
                                </span>
                            </div>
                            <button class="item-read-button" onclick="markAsRead('@itemsForDay.Key', @item.Id)"></button>
                        </li>
                    }
                </ul>
            </div>
        }
        <form method="post" asp-page-handler="MarkAllAsRead" asp-route-ids="@JsonConvert.SerializeObject(Model.Items.SelectMany(i => i.Select(d => d.Id)))"><button type="submit">Mark all as read</button></form>
    }
</article>

<script>
    async function markAsRead(day, itemId) {
        const itemElement = document.getElementById(`item_${day}_${itemId}`);
        itemElement.remove();

        // Remove day heading if no more items remain
        if (document.querySelectorAll(`[id^='item_${day}']`).length === 0) {
            const itemsForDay = document.getElementById(`items_${day}`);
            itemsForDay.remove();
        }

        await fetch(`/Unread/MarkAsRead?id=${itemId}`, {
            method: 'POST', headers: { 'RequestVerificationToken': '@antiforgery.GetAndStoreTokens(HttpContext).RequestToken' }
        });

        // Reload the page if there are no items left
        if (document.querySelectorAll('[id^=item_]').length === 0) {
            location.href = '/';
        }
    }
</script>