@page "{handler?}"
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Antiforgery;
@model Reader.Pages.UnreadModel
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = Model.PageTitle;
}
<article>
    @if (!Model.Items.Any())
    {
        <h1>You have no unread items</h1>
    }
    else
    {
        <h1>Unread</h1>
        @foreach (var itemsForDay in Model.Items)
        {
            <h2 class="items-date">@itemsForDay.Key</h2>
            <ul class="item-list">
                @foreach (var item in itemsForDay)
                {
                    <li id="item_@item.Id" class="item">
                        <div class="item-header">
                            <a class="item-title" href="@item.Uri" rel="noreferrer" target="_blank">@item.Title</a>
                            <span class="item-meta">
                                @item.FeedTitle
                                @if (item.SourceHost != null)
                                {
                                    @item.SourceHost
                                }
                                <time>@item.TimePublished</time>
                            </span>
                        </div>
                        <button class="item-read-button" onclick="markAsRead(@item.Id)"></button>
                    </li>
                }
            </ul>
        }
        <form method="post" asp-page-handler="MarkAllAsRead" asp-route-ids="@JsonConvert.SerializeObject(Model.Items.SelectMany(i => i.Select(d => d.Id)))"><button type="submit">Mark all as read</button></form>
    }
</article>

<script>
    async function markAsRead(id) {
        const itemElement = document.getElementById(`item_${id}`);
        itemElement.remove();

        await fetch(`/Unread/MarkAsRead?id=${id}`, {
            method: 'POST', headers: { 'RequestVerificationToken': '@antiforgery.GetAndStoreTokens(HttpContext).RequestToken' }
        });

        // Reload the page if there are no items left
        if (document.querySelectorAll('[id^=item_]').length === 0) {
            location.href = '/';
        }
    }
</script>